# Python
__pycache__/
*.pyc
.coverage
.venv/
venv/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# 环境
.env
*.local
secrets/
key

# IDE / OS
.idea/
.vscode/
Thumbs.db

# 数据
db/backup/
*.dump

# 日志
*.log
logs/
**/logs/
